* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

html {
  font-family: 'Red Hat Display', sans-serif;
  width: 1440px;
}

body {
  background-color: rgb(224, 232, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.custom-shape-divider-top-1641385628 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1641385628 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 430px;
}

.custom-shape-divider-top-1641385628 .shape-fill {
  fill: rgb(214, 225, 255);
}

.container {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  width: 400px;
  height: 580px;
  border-radius: 10px;
  overflow: hidden;
}

.container-summary {
  height: 150px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  gap: 10px;
}

a {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 15px;
  color: rgb(56, 42, 225);
}
.conntainer-plan {
  background-color: rgb(248, 249, 254);
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

.plan2 {
  display: flex;
  gap: 15px;
}

.plan1 {
  display: flex;
  justify-content: space-between;
}

p {
  color: hsl(224, 23%, 55%);
}

.container-payment {
  height: 130px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.order-complet,
.order-cancel {
  padding: 13px;
}

.anual {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.order-complet {
  width: 100%;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  background-color: rgb(56, 42, 225);
  box-shadow: 0px 15px 20px rgb(221, 218, 247);
}

.order-cancel {
  border: 0;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  color: hsl(224, 21%, 51%);
}

.order-cancel:hover {
  color: rgb(57, 66, 100);
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.order-complet:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
}

.attribution {
  position: absolute;
  top: 630px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 375px) {
  .container {
    width: 350px;
  }
  .attribution {
    width: 100%;
  }
}
